doctype html
html
  head
    title
      | Web browser
    link(rel="stylesheet", href="/lib/jquery-ui/jquery-ui.min.css")
  
    script(src='/lib/jquery-1.11.1.min.js')
    script(src='/lib/jquery-ui/jquery-ui.js')
    script(src='/socket.io/socket.io.js')
    script(src='/lib/arrow.js')
    script(src='/lib/utils.js')
    script(src='/lib/eventHandler.js') 
    
    script(src='/lib/calibrator.js') 
    script(src='/lib/main.js')    
    
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content